@using biznis.BussinessLayer.DTO

@model jovan_somborski_63_15.Models.Application.HomeViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- HEADER -->
<header id="header">
    <!-- PAGE HEADER -->
    <div class="page-header">
        <div class="page-header-bg" style="background-image: url('/Content/Images/@Model.Header.src');" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <h1 class="text-uppercase">@Model.Header.heading</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /PAGE HEADER -->
</header>
<!-- /HEADER -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-8">
                <div id="posts">
                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html"><img src="~/Content/Images/@Model.HotPost.src" alt=""></a>
                        <div class="post-body">
                            
                            <h3 class="post-title title-lg"><a href="@Model.HotPost.heading"</a></h3>
                            <ul class="post-meta">
                                <li>@Model.HotPost.username</li>
                                <li>@Model.HotPost.publish</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->
                    @if (Model.Posts != null)
                    {
                        foreach (PostDTO p in Model.Posts)
                        {
                  <!-- post -->
                            <div class="post post-row">
                                <a class="post-img" href="@Url.Action("show", "Home", new {id = p.Id})"><img src="~/Content/Images/@p.src" alt=""></a>
                                <div class="post-body">                                
                                    <h3 class="post-title"><a href="@Url.Action("show", "Home", new {id = p.Id})">@p.heading</a></h3>
                                    <ul class="post-meta">
                                        <li><a href="author.html">@p.username</a></li>
                                        <li>@p.publish</li>
                                    </ul>
                                    <p>@p.paragraph</p>
                                </div>
                            </div>
                <!-- /post -->
                        }
                    }

                </div>
                <!--end of #posts-->
                <!--Pagination-->

                <!--Pagination-->

                <nav aria-label="Page navigation example" class="text-center" id="pagination">
                    <ul class="pagination">
                        @{
                            decimal pagination = Model.Broj;
                            pagination = pagination / 3;
                            pagination = Math.Ceiling(pagination);

                        }


                        @for (int i = 0; i < pagination; i++)
                        {

                            <li class="page-item"><a class="page-link" data-page="@i" href="#">@i</a></li>
                        }
                    </ul>
                </nav>

                <!--Pagination-->

                <!--Pagination-->


            </div>
            <!--end of col-md-8-->

            <div class="col-md-4">
                <!-- category widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Categories</h2>
                    </div>
                    <div class="category-widget">
                        <ul>

                            @foreach (CategoryDTO c in Model.Categories)
                            {
                                <li><a href="#" data-number="@c.Number" data-category="@c.Id">@c.Name <span>@c.Number</span></a></li>
                            }
                </ul>
                     
                    </div>
                </div>
                <!-- /category widget -->
              
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
