<html xmlns="http://www.w3.org/1999/xhtml">

@Html.Partial("Partials/_Head")
<body>

    @Html.Partial("Partials/_Nav")

    @RenderBody()

    @Html.Partial("Partials/_Footer")

    @RenderSection("scripts", false)
</body>
</html>